body {
    background: rgb(139, 139, 235);
}
#title {
    background: green;
    color: white;
}
#startGame {
    background: purple;
    color: beige;
}
#gameMain {
    background: purple;
    color: white;
}
