body {
    background: rgb(139, 139, 235);
}
#title {
    background: green;
    color: white;
}
#startGame {
    background: rgb(49, 3, 214);
    color: beige;
}
#gameMain {
    background: rgb(49, 3, 214);
    color: white;
}
